<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="New Account and Login">
  <test thread-count="5" name="Test">
    <classes>
<!--		
      <class name="appbMySpotsaver.CreateAccountTestCases"/>
      <class name="appbMySpotsaver.LoginTestCases"/>
      <class name="appbMySpotsaver.TC_093"/>
      <class name="appbMySpotsaver.TC_092_newBrowser"/>      
      <class name="appbMySpotsaver.TC_020"/>
      <class name="appbMySpotsaver.TC_021_5"/>
      <class name="appbMySpotsaver.TC_021_6"/>
-->      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
